html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    min-width: 320px;
    word-break: normal;
    font-family: sans-serif; /*добавить свой шрифт*/
}

/*gobal---------------------------------------------------------------------------------------------*/

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.visability-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0 );
    overflow: hidden;
    opacity: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.display {
    display: none;
}

/*var -------------------------------------------------------------------------------------------------*/

:root { /*colors*/
    --dark-color: #000;
    --white-color: #fff;
    --gry-color: #181616;
    --blu-color: #1E3DAF;

}
:root { /*sizes*/
    --font-size-18: 18px;
}

/*my style ---------------------------------------------------------------------------------------------*/

header {
    background-color: var(--dark-color);
    height: 72px;
    width: 100%;
}

body {
    background-color: var(--gry-color);
}

.header-container {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    text-align: center;
    margin-right: 250px;
}

.header-logo {
    max-height: 40px;
}

.btn-hover svg:hover path {
    stroke: var(--dark-color);
    color: var(--dark-color);
}

.btn-header {
    width: 216px;
    height: 40px;
    color: var(--white-color);
    background-color: var(--blu-color);
    margin-right: 50px;
}

.flex-container {
    display: flex;
}
.text {
    color: var(--white-color);
    margin-left: 10px;
    font-size: var(--font-size-18);
}
.logo {
    display: inherit;
}